body
{
background-color:aquamarine;
}
#outer
{
height:1200px;
width:1100px;  
//border:1px solid;
margin:0px auto;
}
#bar
{
height:60px;
width:1100px;
background-color:purple;
animation:blink 2s ease infinite;
font-family:commercial script;
//padding:5px;
}
#menubar
{
height:70px;
width:1100px;
margin-top:5px;
background-color:black;
border-radius:50px;
//border:1px solid;
}
#header
{
height:70px;
width:35%;
float:left;
background-color:darkblue;
border-radius:50px;
color:white;
font-family:courier;
}
#menuitem
{
height:70px;
width:65%;
padding:25px;
float:right;
}
#menuitem ul li
{
padding:25px;
display:inline;
}
#menuitem ul
{
list-style-type:none;
}
#menuitem ul li a
{
text-decoration:none;
color:cyan;
}
#menuitem ul li:hover
{
background-color:gray;
}
#main
{
margin-top:5px;
}
#heading
{
	height:70px;
	width:600px;
	//background-color:pink;
	color:purple;
	font-family:cursive;
	float:right;
}
#footer
{
	height:300px;
	width:1100px;
}
.one
{
	height:220px;
	width:220px;
	//border:1px solid;
	background-color:white;
	border-radius:50px;
	float:left;
	margin-top:10px;
	margin-left:60px;
	margin-right:60px;
	//margin:0px auto;
	font-family:cursive;
	color:red;
	transition:1s ease-in-out;
}
.one:hover
{
	height:300px;
	width:300px;
}
#main1
{
	height:600px;
	width:1100px;
	margin-top:5px;
}
#table
{
	height:300px;
	width:480px;
	background-color:pink;
	float:left;
	border-radius:20px;
	margin-top:30px;

}
#section
{
	height:400px;
	width:600px;
	//background-color:deeppink;
	float:right;
	margin-left:10px;
}
#register
{
	margin-top:100px;
	height:60px;
	width:1000px;
	//margin:0px auto;
}
.container{
	width:50%;
}